<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
</head>
<body>
<header>
    <div th:insert="header"/>
</header>
<form action="/tasks/new" method="post">

    <h1 th:text="#{newTask}"></h1>

    <div>
        <label for="title" th:text="#{titleT}"></label>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <label for="description" th:text="#{des}"></label>
        <input type="text" name="description" id="description">
    </div>
    <div>
        <label for="due" th:text="#{due}"></label>
        <input type="date" name="due" id="due">
    </div>
    <div>
        <input type="submit">
    </div>


</form>
</body>
</html>
