<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ViewTask</title>
</head>
<body>

    <th:block th:if="${task}">
        <h1 th:text="|View task with number: | + ${task.uniqueID}"></h1>
        <table>
            <tr>
                <td th:text="|Title:         | + ${task.title}"/>
            </tr>
            <tr>
                <td th:text="|Description:   | + ${task.description}"/>
            </tr>
            <tr>
                <td th:text="|Due:           | + ${task.dayDue} + |/| + ${task.monthDue} + |/| + ${task.yearDue} + | at | + ${task.hourDue} + ${task.timeOfDayDue}"/>
            </tr>
        </table>
    </th:block>
    <th:block th:if="${task == null}">
        <h1>Task not found!</h1>
    </th:block>

</body>
</html>