<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<table>
    <h1>Tasks</h1>

    <th:block th:if="${tasks}">
        <table>
            <tr th:each="task, iStat : ${tasks}">
                <td th:text="|Task | + *{task.uniqueID} + |:|"/>
                <td th:text="|Due:           | + *{task.dayDue} + |/| + *{task.monthDue} + |/| + *{task.yearDue} + | at | + *{task.hourDue} + *{task.timeOfDayDue}"/>
                <table>
                    <tr th:each="subtasker : *{task.subTasks}">
                        <td th:text="|SubTask | + *{subtasker.uniqueID} + |:|"/>
                        <td th:text="|Due:           | + *{subtasker.dayDue} + |/| + *{subtasker.monthDue} + |/| + *{subtasker.yearDue} + | at | + *{subtasker.hourDue} + *{subtasker.timeOfDayDue}"/>
                    </tr>
                </table>
            </tr>
        </table>
    </th:block>
    <th:block th:if="${tasks.empty or tasks == null}"><p>No tasks left to do</p></th:block>
</table>
</body>
</html>