<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
</head>
<body>
<header>
    <div th:insert="header"/>
</header>
<th:block th:if="${task}">
    <h1>Edit Task for: <span th:text="${task.uniqueID}"></span></h1>
    <form action="#" th:action="@{/tasks/edit/__${task.uniqueID}__}" method="post">
        <ul>

            <input type="hidden" th:value="${task.uniqueID}" name="uniqueID" id="uniqueID">

            <li>
                <label for="title" th:text="|Enter new title:      | + ${task.title}"></label>
                <input type="text" name="title" id="title">
            </li>

            <li>
                <label for="description" th:text="|Enter new description:  | + ${task.description}"></label>
                <input type="text" name="description" id="description">
            </li>
            <li>
                <label for="due" th:text="|Enter new due date:        | + ${task.dayDue} + |/| + ${task.monthDue} + |/| + ${task.yearDue} + | at | + ${task.hourDue} + ${task.timeOfDayDue}"></label>
                <input type="date" name="due" id="due">
            </li>
            <input type="submit">
        </ul>
    </form>


</th:block>
<th:block th:if="${task == null}">
    <h1>Task not found!</h1>
</th:block>


</body>
</html>