<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{viewTask}"></title>
</head>
<body>
<header>
    <div th:insert="header"/>
</header>
    <th:block th:if="${task}">
        <h1 th:text="|#{taskWNum} | + ${task.uniqueID}"></h1>
        <table>
            <tr>
                <td th:text="|#{titleT}        | + ${task.title}"/>
            </tr>
            <tr>
                <td th:text="|#{des}   | + ${task.description}"/>
            </tr>
            <tr>
                <td th:text="|#{due}           | + ${task.dayDue} + |/| + ${task.monthDue} + |/| + ${task.yearDue} + | at | + ${task.hourDue} + ${task.timeOfDayDue}"/>
            </tr>
        </table>
    </th:block>
    <th:block th:if="${task == null}">
        <h1 th:text="#{taskNotFound}"></h1>
    </th:block>

</body>
</html>
